    * {
          margin: 0;
          padding: 0;
          box-sizing:border-box;
          color:white;
          
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        html, body {
          width: 100%;
          height: 100%;
        }
        main{
            height: 100%;
            width:100%;
            background: linear-gradient(to right bottom,rgb(26, 26, 26),rgb(35,35,35),black);
            padding:20px;
            overflow: auto; 
            scroll-snap-type: y mandatory;
            
        }
        main::-webkit-scrollbar{
            display: none;
        }
        section{
            height:100%;
            width: 300px;
            background-color: black;
            margin:auto;
            border-radius:10px;   
            
        }
        .all-reels{
        height: 100%;
        width: 100%;
        /* overflow: hidden; */
    }

    .reel{
        height: 100vh;
        width:100%;
        position:relative;
        scroll-snap-align: start;
        border-radius: 10px;
        margin-bottom: 20px;
        
    }

    .reel .main-video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .reel .bottom{
        padding: 30px 20px;
        background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.677));
        width:100%;
        position: absolute;
        bottom: 0;
    }
    .bottom .user{
        display:flex;
        align-items: center;
        gap: 10px;
    }
    .bottom .user img{
        height:30px;
        width:30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .bottom h3{
        font-weight: 500;
        font-size: 15px;
    }
    .user button{
        font-size: 12px;
        font-weight: 500;
        background-color: transparent;
        padding: 2px 4px;
        border-radius: 2px;
        border:1px solid white;
        cursor: pointer;
        transition: all ease 0.4s;
    }
    .user button:hover{
        background-color: black;
        border:none;
        font-size: 10px;
        transform: scale(1.3);
    }
    .reel .right{
        width:30px;
        position: absolute;
        right: 0;
        transform: translateX(100%);
        padding:20px;
        bottom:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }
    .reel i{
        font-size: 20px;
        font-weight: 100;
        cursor: pointer;
    }

